body{
  background-image: url('https://thumbs.dreamstime.com/b/orange-grunge-background-colors-design-wall-wallpaper-backdrop-dirty-halloween-art-element-decor-watercolor-new-texture-blotch-165035797.jpg');
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.App {
  text-align: center;
}


